.hero {
  height: calc(100vh - 100px);
  min-height: 400px;
  background-size: cover; }

.hero__text-container {
  width: 90%;
  margin: 0 auto;
  position: relative; }
  .hero__text-container .button {
    width: 85px; }

.hero__text-header {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  text-align: center;
  font-weight: 500;
  line-height: 30px; }

.hero__text {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  text-align: center; }

#slide1 .hero__text-container {
  top: 30px; }

#slide2 .hero__text-container {
  top: 30px; }

#slide3 .hero__text-container {
  width: 350px;
  top: 30px; }

.swiper-button-prev {
  /*background-color: rgba(0,0,0,0.4);*/
  color: #919b9b; }

.swiper-button-prev::after {
  font-size: 25px;
  font-weight: 600;
  padding: 5px;
  background-color: transparent; }

.swiper-button-next {
  /*background-color: #000;*/
  color: #919b9b; }

.swiper-button-next::after {
  font-size: 25px;
  font-weight: 600;
  padding: 5px;
  background-color: transparent; }

.welcome {
  margin-top: 50px; }

.welcome__title {
  font-size: 33px;
  margin-bottom: 25px; }

.welcome__subtitle {
  margin-bottom: 20px; }

.introduction {
  margin-top: 50px;
  padding: 0 40px; }

.introduction__title {
  margin-bottom: 25px; }

.introduction__subtitle {
  margin-bottom: 20px; }

.introduction__text {
  padding: 0; }

.numbers {
  background-color: #f7f7f7;
  margin-top: 50px; }

.numbers__title {
  margin-top: 35px;
  margin-bottom: 25px; }

.numbers__item {
  padding: 35px 0; }

.numbers__item-top {
  font-weight: 400;
  text-align: center; }

.numbers__item-number {
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto; }

.numbers__item-text {
  margin-bottom: 30px; }

.main-yachts{
  padding: 60px 0;
}

.main-yachts__title{
  margin-bottom: 30px;
}

.assets {
  margin-top: 50px;
  overflow: hidden; }

.asset {
  height: auto; }

.asset__image {
  height: 350px;
  background-position: center;
  background-size: cover; }

.asset__text-container {
  background-color: #f7f7f7;
  padding: 80px; }

.asset__title {
  margin-bottom: 25px; }

.asset__text {
  text-align: center; }

.logos {
  background-color: #313131;
  padding-top: 30px;
  margin-top: 50px; }

.logos__container {
  width: 100%;
  padding-top: 30px; }

.logos__title {
  color: #f7f7f7;
  text-align: left; }

.logo {
  margin: 0 auto;
  margin-bottom: 50px; }

.bbFooter {
  margin-top: 2px !important; }

@media (min-width: 576px) {
  .hero__text-header {
    font-size: 25px;}
  .hero__text-container {
    width: 450px;
    margin: 0;
    top: 35px;
    left: 110px; }
  #slide1 .hero__text-container {
    top: 35px;
    left: 18px;
  }
  #slide2 {
    background-position: top; }
  #slide3 .hero__text-container {
    top: 38px;
    left: 25%; }
  .form {
    padding: 50px 80px; }
  .logos__container {
    padding-top: 50px; } }

@media (min-width: 768px) {
  .hero {
    height: 100vh;
    min-height: 650px; }
  .hero__text-container {
    width: 325px;
    padding: 0; }
  #slide1 .hero__text-container {
    top: 240px;
    left: 100px; }
  #slide2 .hero__text-container {
    top: 185px;
    left: 350px; }
  #slide3 .hero__text-container {
    top: 230px;
    left: 55%; }
  .welcome {
    margin-top: 70px; }
  .welcome__title {
    margin-bottom: 30px; }
  .welcome__subtitle {
    margin-bottom: 35px; }
  .introduction {
    margin-top: 70px;
    padding: 0 80px; }
  .introduction__title {
    margin-bottom: 30px; }
  .introduction__subtitle {
    margin-bottom: 35px; }
  .numbers {
    margin-top: 70px; }
  .numbers__title {
    margin-bottom: 30px; }
  .form {
    padding: 40px 0; }
  .logos {
    margin-top: 70px; } }

@media (min-width: 992px) {
  .hero__text-top {
    font-size: 16px; }
  .hero__text-header {
    font-size: 30px; }
  .hero__text {
    font-size: 18px;
    line-height: 20px; }
  #slide1 .hero__text-container {
      left: 100px; }
  #slide2 .hero__text-container {
    width: 400px;
    left: 500px; }
  #slide3 .hero__text-container {
    left: 63%; }
  .form {
    padding: 60px 0; }
  .introduction__text {
    padding: 0 150px; }
  .asset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .asset:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .asset__image {
    width: 50%; }
  .asset__text-container {
    width: 50%;
    padding: 60px; } }

@media (min-width: 1200px) {
  .hero__text-top {
    font-size: 18px; }
  .hero__text-header {
    font-size: 30px; }
  .hero__text {
    font-size: 18px;
    line-height: 25px; }
  #slide1 .hero__text-container {
    width: 350px;
    left: 100px/*70%*/;}
  #slide2 .hero__text-container {
    left: 50%; }
  #slide3 .hero__text-container {
    left: 66%; }
  .logo {
    margin-bottom: 90px; } }
