.site-title{
  a{
    color: #fff;
  }
  a:hover{
    color: #fff;
    text-decoration: none;
  }
}

.menu-item{
  a{
    color: #d1d1d1;
  }
  a:hover{
    color: #d1d1d1;
    text-decoration: none;
  }
}

.page{
  margin: 0;
}
